<h1> Moduly pro datovou analýzu </h1>

<p> Abychom mohli data v jazyce python analyzovat a provádět výpočty rychle a výpočetně efektivně, je zapotřebí nainstalovat a importovat několik klíčových modulů do našeho Jupyter notebooku</p>


<h5>Výpočet statistik, funkcí a matematických operací s vysokým výkonem:</h5> 
Numpy

<https://numpy.org/doc/stable>

<h5>Tvorba, načítání a úprava dat v tabulkových formátech:</h5>
Pandas

<https://pandas.pydata.org/docs/>

<h5>Vizualizace dat a tvorba grafů:</h5>

Matplotlib (nejpopulárnější) 
<https://matplotlib.org/> 
<br>

Plotly (verzatilnější):
<br>

Plotly Express (jednodušší grafy)
<https://plotly.com/python-api-reference/plotly.express.html>
<br>

Plotly Graph Objects (složitější ale flexibilnější grafy a vizualizace)
<https://plotly.com/python-api-reference/plotly.graph_objects.html>
<br>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go 
import plotly.express as px
import os

<h5>Prvním krokem bude tvorba datové struktury, tzv. Dataframu, který knihovna pandas využívá pro reprezentaci tabulkových dat</h5>

Dataframe lze vytvořit několika způsoby, nejčastěji z Python dictionary, načtením CSV souboru či Excelové tabulky (.xls, .xslx). Podporované jsou například i SQL databáze.

Více o dataframu: <https://pandas.pydata.org/docs/reference/frame.html>

Více o I/O modulu pandas (načítání a ukládání souborů): <https://pandas.pydata.org/docs/reference/io.html>

In [2]:
my_dict = {
   "days":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],
   "hours_worked":[8,9,11,7,6,2,0]
}

df_dict = pd.DataFrame.from_dict(my_dict)
df_dict

        days  hours_worked
0     monday             8
1    tuesday             9
2  wednesday            11
3   thursday             7
4     friday             6
5   saturday             2
6     sunday             0

In [3]:
df_csv = pd.read_csv("dataset/sample.csv", usecols=["days","hours_worked"])
df_csv

        days  hours_worked
0     monday             8
1    tuesday             9
2  wednesday            11
3   thursday             7
4     friday             6
5   saturday             2
6     sunday             0

In [4]:
df_excel = pd.read_excel("dataset/sample.xlsx",
                         usecols=["days", "hours_worked"])
df_excel

        days  hours_worked
0     monday             8
1    tuesday             9
2  wednesday            11
3   thursday             7
4     friday             6
5   saturday             2
6     sunday             0

<h5>Cíl projektu</h5>

Cílem práce je pomocí modulu Pandas načíst a upravit výpis pohybů na účtu z internetového bankovnictví, výpočítat statistiky pomocí modulu Numpy a vizualizovat data pomocí modulů Matplotlib a Plotly <br>

Ve složce `dataset` se za tímto účelem nacházejí soubory `csob.xls` a `sporitelna.csv`

In [5]:
df_csob = pd.read_excel(os.path.join("dataset", "csob.xls"))
df_csob

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
0,284622580/0300,2022-07-19,-791.15,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,10479404244,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M..."
1,284622580/0300,2022-07-19,-45.00,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,10478823066,Spotify
2,284622580/0300,2022-07-18,-475.93,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,10476817120,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA..."
3,284622580/0300,2022-07-18,-225.44,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525982,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA..."
4,284622580/0300,2022-07-18,-2335.24,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525984,"Amount: 92 CHF 14.07.2022, Place: Restaurant H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,284622580/0300,2022-06-20,-689.99,CZK,162730.48,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956338,"Amount: 285 NOK 17.06.2022, Place: VULKANFISK ..."
75,284622580/0300,2022-06-20,-290.52,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956344,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL..."
76,284622580/0300,2022-06-20,-189.92,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813269,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B..."
77,284622580/0300,2022-06-20,-68.85,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813274,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB..."
78,284622580/0300,2022-06-20,-1044.56,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813278,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ..."

In [6]:
df_sporitelna = pd.read_csv(os.path.join("dataset", "sporitelna.csv"),
                            delimiter=';', decimal=",")
df_sporitelna

,Cislo uctu vlastnika,Datum zauctovani,Název protiuctu,IBAN,BIC,Protiucet,Bankovni kod protiuctu,Castka,Mena
0,1914236073/0800,26.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-80.00,CZK
1,1914236073/0800,25.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-140.00,CZK
2,1914236073/0800,25.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-80.00,CZK
3,1914236073/0800,24.08.2022,NaN,NaN,NaN,NaN,NaN,-1000.00,CZK
4,1914236073/0800,24.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-20.00,CZK
5,1914236073/0800,24.08.2022,POTRAVINY PRAMEN LITOMERICE CZ,NaN,NaN,NaN,0.0,-241.69,CZK
6,1914236073/0800,23.08.2022,NaN,NaN,NaN,NaN,NaN,-1800.00,CZK
7,1914236073/0800,22.08.2022,NaN,NaN,CEKOCZPP,7137253/0300,300.0,2000.00,CZK
8,1914236073/0800,21.08.2022,NaN,NaN,NaN,NaN,NaN,-1000.00,CZK
9,1914236073/0800,21.08.2022,dm drogerie markt s.r.o. Ceske Budejov CZ,NaN,NaN,NaN,0.0,-1598.00,CZK
10,1914236073/0800,20.08.2022,NaN,NaN,GIBACZPX,35-2001269369/0800,800.0,-300.00,CZK
11,1914236073/0800,19.08.2022,KNOBOVA DOBROMILA,CZ4303000000000007137253,CEKOCZPP,7137253/0300,300.0,1000.00,CZK
12,1914236073/0800,19.08.2022,NaN,NaN,KOMBCZPP,61447471/0100,100.0,5000.00,CZK
13,1914236073/0800,19.08.2022,ONO ROUDNICE NAD LABE ROUDNICE NAD CZ,NaN,NaN,NaN,0.0,-1643.30,CZK
14,1914236073/0800,19.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-125.00,CZK
15,1914236073/0800,19.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-80.00,CZK
16,1914236073/0800,18.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-129.00,CZK
17,1914236073/0800,18.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-30.00,CZK
18,1914236073/0800,18.08.2022,PEKARSTVI LITOMERICE CZ,NaN,NaN,NaN,0.0,-157.00,CZK
19,1914236073/0800,17.08.2022,MODRE ZAHRADNICTVI S.R. LITOMERICE CZ,NaN,NaN,NaN,0.0,-235.00,CZK
20,1914236073/0800,17.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-20.00,CZK
21,1914236073/0800,17.08.2022,LEKARNA NAD KAPLICKOU LITOMERICE CZ,NaN,NaN,NaN,0.0,-258.00,CZK
22,1914236073/0800,17.08.2022,DROGERIE LITOMERICE CZ,NaN,NaN,NaN,0.0,-327.00,CZK
23,1914236073/0800,14.08.2022,generaliceska.cz,NaN,GIBACZPX,6705562/0800,800.0,-2366.00,CZK
24,1914236073/0800,14.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-20.00,CZK
25,1914236073/0800,14.08.2022,KOSIK.CZ S.R.O. Praha 4 CZ,NaN,NaN,NaN,0.0,-250.50,CZK
26,1914236073/0800,14.08.2022,KOSIK.CZ S.R.O. Praha 4 CZ,NaN,NaN,NaN,0.0,-1247.05,CZK
27,1914236073/0800,13.08.2022,POTRAVINY PRAMEN LITOMERICE CZ,NaN,NaN,NaN,0.0,-251.60,CZK
28,1914236073/0800,12.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-90.00,CZK
29,1914236073/0800,11.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-113.00,CZK
30,1914236073/0800,10.08.2022,NaN,NaN,NaN,NaN,NaN,-2800.00,CZK
31,1914236073/0800,10.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-20.00,CZK
32,1914236073/0800,10.08.2022,NaN,NaN,KOMBCZPP,3092910207/0100,100.0,-300.00,CZK
33,1914236073/0800,09.08.2022,KAUFLAND CZ 1110 LITOMERICE CZ,NaN,NaN,NaN,0.0,-1498.83,CZK
34,1914236073/0800,08.08.2022,RABBIT LITOMERICE LITOMERICE CZ,NaN,NaN,NaN,0.0,-599.54,CZK
35,1914236073/0800,07.08.2022,Penny Litomerice Litomerice CZ,NaN,NaN,NaN,0.0,-507.16,CZK
36,1914236073/0800,06.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-20.00,CZK
37,1914236073/0800,06.08.2022,PPL CZ S.R.O. - D04 KRUPKA 1 CZ,NaN,NaN,NaN,0.0,-497.00,CZK
38,1914236073/0800,05.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-70.00,CZK
39,1914236073/0800,05.08.2022,NaN,NaN,CNBACZPP,1112003411/0710,710.0,-2187.00,CZK
40,1914236073/0800,04.08.2022,S-Power,NaN,NaN,7624422/0800,800.0,-173500.00,CZK
41,1914236073/0800,04.08.2022,NaN,NaN,NaN,NaN,NaN,175000.00,CZK
42,1914236073/0800,04.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-30.00,CZK
43,1914236073/0800,04.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-125.00,CZK
44,1914236073/0800,04.08.2022,NaN,NaN,KOMBCZPP,61447471/0100,100.0,16666.00,CZK
45,1914236073/0800,03.08.2022,MPLA.CZ PRAHA CZ,NaN,NaN,NaN,0.0,-20.00,CZK
46,1914236073/0800,01.08.2022,"DEKUJEME, ROHLIK.CZ Praha 8 CZ",NaN,NaN,NaN,0.0,-954.60,CZK

<h5>Základní informace o Dataframu</h5>

In [7]:
# souhrn informací

df_sporitelna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Cislo uctu vlastnika    47 non-null     object
 1   Datum zauctovani        47 non-null     object
 2   Název protiuctu         36 non-null     object
 3   IBAN                    1 non-null      object
 4   BIC                     8 non-null      object
 5   Protiucet               9 non-null      object
 6   Bankovni kod protiuctu  42 non-null     float64
 7   Castka                  47 non-null     float64
 8   Mena                    47 non-null     object
dtypes: float64(2), object(7)
memory usage: 3.4+ KB

In [8]:
# názvy všech neindexových sloupců

df_sporitelna.columns

Index(['Cislo uctu vlastnika', 'Datum zauctovani', 'Název protiuctu', 'IBAN',
       'BIC', 'Protiucet', 'Bankovni kod protiuctu', 'Castka', 'Mena'],
      dtype='object')

In [9]:
# index a jeho typ

df_sporitelna.index

RangeIndex(start=0, stop=47, step=1)

<h5>Změna indexu dataframu</h5>

Častým požadavkem je změna indexu dataframu z výchozích čísel například na datum a čas či vlastní číslování

In [10]:
# změna indexu dataframu na cílovou hodnotu - v tomto případě přečíslujeme tak, aby dataframe začínal na řádku 1

df_csob["Index"] = [x+1 for x in range(len(df_csob))]
df_sporitelna["Index"] = [x + 1 for x in range(len(df_sporitelna))]

df_csob = df_csob.set_index("Index")
df_sporitelna = df_sporitelna.set_index("Index")

In [11]:
df_csob

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
1,284622580/0300,2022-07-19,-791.15,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,10479404244,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M..."
2,284622580/0300,2022-07-19,-45.00,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,10478823066,Spotify
3,284622580/0300,2022-07-18,-475.93,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,10476817120,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA..."
4,284622580/0300,2022-07-18,-225.44,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525982,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA..."
5,284622580/0300,2022-07-18,-2335.24,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525984,"Amount: 92 CHF 14.07.2022, Place: Restaurant H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,284622580/0300,2022-06-20,-689.99,CZK,162730.48,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956338,"Amount: 285 NOK 17.06.2022, Place: VULKANFISK ..."
76,284622580/0300,2022-06-20,-290.52,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956344,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL..."
77,284622580/0300,2022-06-20,-189.92,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813269,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B..."
78,284622580/0300,2022-06-20,-68.85,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813274,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB..."
79,284622580/0300,2022-06-20,-1044.56,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813278,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ..."

<h5>Získávání částí dataframu podle názvů sloupců a indexů</h5>

In [12]:
# data pouze z jednoho sloupce

df_csob["amount"]

Index
1     -791.15
2      -45.00
3     -475.93
4     -225.44
5    -2335.24
       ...
75    -689.99
76    -290.52
77    -189.92
78     -68.85
79   -1044.56
Name: amount, Length: 79, dtype: float64

In [13]:
# výsledný formát dat je Pandas Series, můžeme indexovat pro získání konkrétní hodnoty

df_csob["amount"][1]

-791.15

In [14]:
# s daty můžeme dále pracovat, například vizualizovat v grafech - v tomto případě zůstatek na účtě 

px.line(y=df_csob["deposit"], x=df_csob["date of posting"], title="Zůstatek na účtě")

In [15]:
# získávání hodnot řádků na základě numerických indexů (pozor, index běží od 0 do len(df)-1)

df_sporitelna.iloc[6]

Cislo uctu vlastnika      1914236073/0800
Datum zauctovani               23.08.2022
Název protiuctu                       NaN
IBAN                                  NaN
BIC                                   NaN
Protiucet                             NaN
Bankovni kod protiuctu                NaN
Castka                            -1800.0
Mena                                  CZK
Name: 7, dtype: object

In [16]:
df_csob.iloc[[5,10]]

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
6,284622580/0300,2022-07-18,-130.44,CZK,92655.54,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525985,"Amount: 130,44 CZK 14.07.2022, Place: PAYPAL *..."
11,284622580/0300,2022-07-14,-25.62,CZK,87721.24,NaN,NaN,NaN,1178.0,405000195.0,2.212104e+09,Debit card transaction,10464716438,"Amount: 1 CHF 12.07.2022, Place: Shop Cern, Me..."

In [17]:
# získání konkrétní hodnoty

df_csob.iloc[25]["amount"]

-300.0

In [18]:
# také lze získat jednotlivé řádky podle konkrétní hodnoty v indexu (pokud jsou index písmena od a do z, lze podle každého vypsat řádek) - viz. porovnání s iloc

df_sporitelna.loc[6]

Cislo uctu vlastnika                     1914236073/0800
Datum zauctovani                              24.08.2022
Název protiuctu           POTRAVINY PRAMEN LITOMERICE CZ
IBAN                                                 NaN
BIC                                                  NaN
Protiucet                                            NaN
Bankovni kod protiuctu                               0.0
Castka                                           -241.69
Mena                                                 CZK
Name: 6, dtype: object

In [19]:
df_sporitelna.loc[6]["Název protiuctu"]

'POTRAVINY PRAMEN LITOMERICE CZ'

In [20]:
# logické indexování pomocí boolean hodnot

df_csob.index.isin([6,30,38])

array([False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [21]:
# pomocí boolean hodnot s indexem shodným s původním Dataframem můžeme filtrovat a získat pouze požadovaná data

df_csob[df_csob.index.isin([6, 30, 38])]

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
6,284622580/0300,2022-07-18,-130.44,CZK,92655.54,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525985,"Amount: 130,44 CZK 14.07.2022, Place: PAYPAL *..."
30,284622580/0300,2022-07-07,-702.40,CZK,112162.05,NaN,NaN,NaN,1178.0,405000187.0,2.212104e+09,Debit card transaction,10443755776,"Amount: 27,66 EUR 04.07.2022, Place: AMZN Mktp..."
38,284622580/0300,2022-07-04,-200.00,CZK,110060.36,NaN,NaN,NaN,1178.0,401000183.0,2.212104e+09,Debit card transaction,10437684824,"Amount: 200 CZK 29.06.2022, Place: MMB2417 POK..."

In [22]:
df_csob[df_csob.index.isin([30])]["deposit"]

Index
30    112162.05
Name: deposit, dtype: float64

In [23]:
# lze vyhledávat i v nečíselných hodnotách

df_csob["marking the operation"].isin(["Outgoing instant payment"])

Index
1     False
2      True
3     False
4     False
5     False
      ...
75    False
76    False
77    False
78    False
79    False
Name: marking the operation, Length: 79, dtype: bool

In [24]:
df_csob[df_csob["marking the operation"].isin(["Outgoing instant payment"])]

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
2,284622580/0300,2022-07-19,-45.0,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,10478823066,Spotify

In [25]:
# získání konkrétní hodnoy podle názvu/vlastního indexu řádku a názvu sloupce

df_sporitelna.at[26, "Castka"]

-250.5

In [26]:
# podobně jako loc a iloc, lze získat i podle indexu řádku od 0 do len(dataframe)-1 a indexu sloupce podle stejného číslování od 0 do len(df.columns)-1

df_sporitelna.iat[25, -2]

-250.5

<h5>Filtrování pomocí pravdivostních výroků</h5>

Podobně jako metoda .isin vracející True/False můžeme získat boolean hodnoty výroku či podmínky týkající se sloupců Dataframu a pomocí nich vyfiltrovat řádky, které podmínky nesplňují

In [27]:
df_csob["amount"] > 0.0

Index
1     False
2     False
3     False
4     False
5     False
      ...
75    False
76    False
77    False
78    False
79    False
Name: amount, Length: 79, dtype: bool

In [28]:
df_csob[df_csob["amount"] > 0.0]

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
9,284622580/0300,2022-07-14,39.0,CZK,94115.24,1.231434e+09,3030.0,Josef VytrhlÌk,NaN,NaN,NaN,Incoming instant payment,10465032760,Eura z plesu
10,284622580/0300,2022-07-14,6355.0,CZK,94076.24,2.970417e+09,800.0,Dvo¯·kov· Lilly,0.0,NaN,NaN,Incoming instant payment,10464963879,NaN
31,284622580/0300,2022-07-07,148.0,CZK,112864.45,NaN,NaN,NaN,1176.0,406000186.0,2.212104e+09,Card transaction - refund,10443625098,"Amount: 148 CZK 03.07.2022, Place: Alza, Prague,"
32,284622580/0300,2022-07-05,3733.0,CZK,112716.45,1.231434e+09,3030.0,Josef VytrhlÌk,NaN,NaN,NaN,Incoming instant payment,10438850368,RozdÏlenÌ zbytku penÏz z plesu
43,284622580/0300,2022-06-28,15000.0,CZK,169814.36,6.144747e+07,100.0,KOR»¡K PETR,0.0,0.0,0.000000e+00,Incoming payment,10419962882,dotace zelena cestovani
48,284622580/0300,2022-06-27,3250.0,CZK,158635.71,2.970417e+09,800.0,Dvo¯·kov· Lilly,0.0,NaN,NaN,Incoming instant payment,10418122762,NaN
66,284622580/0300,2022-06-22,2000.0,CZK,161849.20,6.144747e+07,100.0,KOR»¡K PETR,0.0,0.0,0.000000e+00,Incoming payment,10404797905,KAPESN…

In [29]:
df_csob[df_csob["marking the operation"] == "Incoming payment"]

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
43,284622580/0300,2022-06-28,15000.0,CZK,169814.36,61447471.0,100.0,KOR»¡K PETR,0.0,0.0,0.0,Incoming payment,10419962882,dotace zelena cestovani
66,284622580/0300,2022-06-22,2000.0,CZK,161849.20,61447471.0,100.0,KOR»¡K PETR,0.0,0.0,0.0,Incoming payment,10404797905,KAPESN…

In [30]:
# filtrovat můžeme podle více podmínek, mezi kterými rozhodne některý z logických operátorů and (&), or (|) nebo not (~), každá podmínka musí být v samostatné závorce kvůli pořadí, ve kterém je Python vyhodnocuje

df_csob[(df_csob["amount"] > 500.0) & (df_csob["marking the operation"] == "Incoming instant payment")]

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
10,284622580/0300,2022-07-14,6355.0,CZK,94076.24,2.970417e+09,800.0,Dvo¯·kov· Lilly,0.0,NaN,NaN,Incoming instant payment,10464963879,NaN
32,284622580/0300,2022-07-05,3733.0,CZK,112716.45,1.231434e+09,3030.0,Josef VytrhlÌk,NaN,NaN,NaN,Incoming instant payment,10438850368,RozdÏlenÌ zbytku penÏz z plesu
48,284622580/0300,2022-06-27,3250.0,CZK,158635.71,2.970417e+09,800.0,Dvo¯·kov· Lilly,0.0,NaN,NaN,Incoming instant payment,10418122762,NaN

<h5>Cvičení 1: vytvořte program, který z dataframu získá informace o pohybech na účtě a pro každý den spočítá jejich celkovou bilanci, jež pak vhodně vizualizuje ve sloupcovém grafu</h5>

Výdaj vyznačte červeně, příjmy zeleně

Potřebná dokumentace:
<br>

<https://plotly.com/python/bar-charts/>
<br>

<https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing>

In [31]:
# místo pro váš kód

In [32]:
# vzorové řešení (spusťte pro kontrolu)

def parse_vals(df, time_col, val_col):
    data_dict = {"date":[],"in":[],"out":[]}
    df[time_col] = pd.to_datetime(df[time_col], infer_datetime_format=True)
    for date in df[time_col].unique():
        temp_df = df[df[time_col] == date]
        data_dict["date"].append(date)
        data_dict["in"].append(np.sum(temp_df[temp_df[val_col] > 0.0][val_col]))
        data_dict["out"].append(np.sum(temp_df[temp_df[val_col] < 0.0][val_col]))
    return pd.DataFrame.from_dict(data_dict)

def plot_vals(df,name):
    df['date'] = df['date'].dt.strftime('%d/%m/%Y')
    return px.bar(df,y=["in","out"], x="date", barmode="group",
                  labels={"value": "CZK", "variable": "Pohyb", "date":"Datum"},
             color_discrete_map={"in": "green", "out": "red"},
             title=name)

def main():
    accounts = {
        "csob":[df_csob,"date of posting","amount","ČSOB"],
        "sporitelna":[df_sporitelna, "Datum zauctovani", "Castka", "Česká spořitelna"]
    }
    acc = input("Zadejte účet, ze kterého chcete vidět data (csob/sporitelna)")
    if not(acc in list(accounts.keys())):
        print("Chyba - špatně zadaný účet")
    else:
        df = parse_vals(accounts[acc][0], accounts[acc][1], accounts[acc][2])
        fig = plot_vals(df, accounts[acc][-1])
        fig.show()

if __name__ == "__main__":
    main()

<h5>Do existujících dataframů můžeme vkládat i nové sloupce a řádky</h5>

In [33]:
df_csob["amount"] = df_csob["amount"].astype(np.float32)

In [34]:
# nové sloupce, tyto sloupce pomocí bool hodnoty jednoduše indikují zda se jedná o výdaj či příjem

df_csob["Income"] = df_csob["amount"] > 0.0
df_csob["Expense"] = df_csob["amount"] < 0.0
df_csob

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note,Income,Expense
Index,,,,,,,,,,,,,,,,
1,284622580/0300,2022-07-19,-791.150024,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,10479404244,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M...",False,True
2,284622580/0300,2022-07-19,-45.000000,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,10478823066,Spotify,False,True
3,284622580/0300,2022-07-18,-475.929993,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,10476817120,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA...",False,True
4,284622580/0300,2022-07-18,-225.440002,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525982,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA...",False,True
5,284622580/0300,2022-07-18,-2335.239990,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525984,"Amount: 92 CHF 14.07.2022, Place: Restaurant H...",False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,284622580/0300,2022-06-20,-689.989990,CZK,162730.48,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956338,"Amount: 285 NOK 17.06.2022, Place: VULKANFISK ...",False,True
76,284622580/0300,2022-06-20,-290.519989,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956344,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL...",False,True
77,284622580/0300,2022-06-20,-189.919998,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813269,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B...",False,True
78,284622580/0300,2022-06-20,-68.849998,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813274,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB...",False,True
79,284622580/0300,2022-06-20,-1044.560059,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813278,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ...",False,True

In [35]:
# nový sloupec či sloupce lze k dataframu připojit pomocí metody join

new_col = pd.Series(["Expense" if x else "Income" for x in df_csob["amount"] < 0.0], name="Income/Expense")
df_csob.join(new_col)

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note,Income,Expense,Income/Expense
Index,,,,,,,,,,,,,,,,,
1,284622580/0300,2022-07-19,-791.150024,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,10479404244,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M...",False,True,Expense
2,284622580/0300,2022-07-19,-45.000000,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,10478823066,Spotify,False,True,Expense
3,284622580/0300,2022-07-18,-475.929993,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,10476817120,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA...",False,True,Expense
4,284622580/0300,2022-07-18,-225.440002,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525982,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA...",False,True,Expense
5,284622580/0300,2022-07-18,-2335.239990,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525984,"Amount: 92 CHF 14.07.2022, Place: Restaurant H...",False,True,Expense
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,284622580/0300,2022-06-20,-689.989990,CZK,162730.48,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956338,"Amount: 285 NOK 17.06.2022, Place: VULKANFISK ...",False,True,Expense
76,284622580/0300,2022-06-20,-290.519989,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956344,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL...",False,True,Expense
77,284622580/0300,2022-06-20,-189.919998,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813269,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B...",False,True,Expense
78,284622580/0300,2022-06-20,-68.849998,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813274,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB...",False,True,Expense
79,284622580/0300,2022-06-20,-1044.560059,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813278,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ...",False,True,NaN

In [36]:
# odstranění sloupců

df_csob.drop(["Income","Expense"],axis=1, inplace=True)
df_csob

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
Index,,,,,,,,,,,,,,
1,284622580/0300,2022-07-19,-791.150024,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,10479404244,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M..."
2,284622580/0300,2022-07-19,-45.000000,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,10478823066,Spotify
3,284622580/0300,2022-07-18,-475.929993,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,10476817120,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA..."
4,284622580/0300,2022-07-18,-225.440002,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525982,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA..."
5,284622580/0300,2022-07-18,-2335.239990,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,10476525984,"Amount: 92 CHF 14.07.2022, Place: Restaurant H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,284622580/0300,2022-06-20,-689.989990,CZK,162730.48,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956338,"Amount: 285 NOK 17.06.2022, Place: VULKANFISK ..."
76,284622580/0300,2022-06-20,-290.519989,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,10400956344,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL..."
77,284622580/0300,2022-06-20,-189.919998,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813269,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B..."
78,284622580/0300,2022-06-20,-68.849998,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813274,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB..."
79,284622580/0300,2022-06-20,-1044.560059,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,10400813278,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ..."

In [37]:
# nové řádky, provedeno formou konkatování ("slepení") dvou dataframů - původního dataframu a nového řádku

new_line = {"account no.": ["284622580/0300"], "date of posting":["2022-09-01"],"amount":["8000"], "currency":["USD"]}
new_line = pd.DataFrame(new_line)

df_csob = pd.concat([df_csob, new_line], ignore_index=True)
df_csob

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
0,284622580/0300,2022-07-19 00:00:00,-791.150024,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,1.047940e+10,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M..."
1,284622580/0300,2022-07-19 00:00:00,-45.0,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,1.047882e+10,Spotify
2,284622580/0300,2022-07-18 00:00:00,-475.929993,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,1.047682e+10,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA..."
3,284622580/0300,2022-07-18 00:00:00,-225.440002,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,1.047653e+10,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA..."
4,284622580/0300,2022-07-18 00:00:00,-2335.23999,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,1.047653e+10,"Amount: 92 CHF 14.07.2022, Place: Restaurant H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,284622580/0300,2022-06-20 00:00:00,-290.519989,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,1.040096e+10,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL..."
76,284622580/0300,2022-06-20 00:00:00,-189.919998,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,1.040081e+10,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B..."
77,284622580/0300,2022-06-20 00:00:00,-68.849998,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,1.040081e+10,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB..."
78,284622580/0300,2022-06-20 00:00:00,-1044.560059,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,1.040081e+10,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ..."
79,284622580/0300,2022-09-01,8000,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# odstranění řádku (stejnou metodou jako u sloupců)

df_csob = df_csob.drop(79, axis=0)
df_csob

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
0,284622580/0300,2022-07-19 00:00:00,-791.150024,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,1.047940e+10,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M..."
1,284622580/0300,2022-07-19 00:00:00,-45.0,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,1.047882e+10,Spotify
2,284622580/0300,2022-07-18 00:00:00,-475.929993,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,1.047682e+10,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA..."
3,284622580/0300,2022-07-18 00:00:00,-225.440002,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,1.047653e+10,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA..."
4,284622580/0300,2022-07-18 00:00:00,-2335.23999,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,1.047653e+10,"Amount: 92 CHF 14.07.2022, Place: Restaurant H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,284622580/0300,2022-06-20 00:00:00,-689.98999,CZK,162730.48,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,1.040096e+10,"Amount: 285 NOK 17.06.2022, Place: VULKANFISK ..."
75,284622580/0300,2022-06-20 00:00:00,-290.519989,CZK,163420.47,NaN,NaN,NaN,1178.0,405000170.0,2.212104e+09,Debit card transaction,1.040096e+10,"Amount: 120 NOK 17.06.2022, Place: ONEPARK VUL..."
76,284622580/0300,2022-06-20 00:00:00,-189.919998,CZK,163710.99,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,1.040081e+10,"Amount: 80 SEK 16.06.2022, Place: CAFEVA AB, B..."
77,284622580/0300,2022-06-20 00:00:00,-68.849998,CZK,163900.91,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,1.040081e+10,"Amount: 29 SEK 16.06.2022, Place: KAWAII.SE GB..."
78,284622580/0300,2022-06-20 00:00:00,-1044.560059,CZK,163969.76,NaN,NaN,NaN,1178.0,405000169.0,2.212104e+09,Debit card transaction,1.040081e+10,"Amount: 440 SEK 16.06.2022, Place: STROMMA PC ..."

<h5>Slučování a připojování dataframů</h5>

Modul pandas nabízí několik způsobů, jak dataframy spojit či sloučit do jednoho, a to na základě indexů či sloupců

In [39]:
# načteme si druhý výpis z účtu ČSOB

df_csob2 = pd.read_excel("dataset/csob2.xls")
df_csob2

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
0,284622580/0300,2022-09-14,-599,CZK,124131.41,NaN,NaN,NaN,1178,405000257.0,2.212104e+09,Debit card transaction,10630853946,"Amount: 599 CZK 13.09.2022, Place: Vodafone Cz..."
1,284622580/0300,2022-09-14,-399,CZK,124730.41,NaN,NaN,NaN,1178,405000256.0,2.212104e+09,Debit card transaction,10630653559,"Amount: 399 CZK 12.09.2022, Place: bezrealitky..."
2,284622580/0300,2022-09-09,-6700,CZK,125129.41,NaN,NaN,NaN,1178,401000251.0,2.212104e+09,Debit card transaction,10616143852,"Amount: 6700 CZK 07.09.2022, Place: CS, MASARY..."
3,284622580/0300,2022-09-09,-40,CZK,131829.41,NaN,NaN,NaN,6898,497000251.0,2.212104e+09,Payment card fee,10616143856,"Místo: Transakcni poplatek, Částka: 0 CZK 07.0..."
4,284622580/0300,2022-09-09,-300,CZK,131869.41,NaN,NaN,NaN,9988,306072844.0,NaN,ČSOB Drobné,10613590750,ČSOB Bohatství
5,284622580/0300,2022-09-08,-100,CZK,132169.41,1.431288e+09,800.0,NaN,0,NaN,NaN,Outgoing instant payment,10613379393,"Dobrý den, posílám částku za prací, prášek, mo..."
6,284622580/0300,2022-09-08,-220,CZK,132269.41,NaN,NaN,NaN,1178,405000251.0,2.212104e+09,Debit card transaction,10612934315,"Amount: 220 CZK 06.09.2022, Place: INDICKA RES..."
7,284622580/0300,2022-09-08,-3000,CZK,132489.41,NaN,NaN,NaN,1178,405000251.0,2.212104e+09,Debit card transaction,10612934318,"Amount: 3000 CZK 06.09.2022, Place: MATRACOVE ..."
8,284622580/0300,2022-09-08,-85,CZK,135489.41,NaN,NaN,NaN,1178,405000251.0,2.212104e+09,Debit card transaction,10612934319,"Amount: 85 CZK 06.09.2022, Place: GOLDEN EGG, ..."
9,284622580/0300,2022-09-07,-60,CZK,135574.41,NaN,NaN,NaN,1178,405000249.0,2.212104e+09,Debit card transaction,10609956389,"Amount: 60 CZK 05.09.2022, Place: www.cd.cz/es..."
10,284622580/0300,2022-09-05,-200,CZK,135634.41,NaN,NaN,NaN,1178,405000246.0,2.212104e+09,Debit card transaction,10604688744,"Amount: 200 CZK 01.09.2022, Place: HOIAN, PRAH..."
11,284622580/0300,2022-09-05,-1280,CZK,135834.41,NaN,NaN,NaN,1178,405000246.0,2.212104e+09,Debit card transaction,10604688750,"Amount: 1280 CZK 02.09.2022, Place: Operator I..."
12,284622580/0300,2022-09-05,-280,CZK,137114.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10604322740,"Amount: 280 CZK 30.08.2022, Place: MATLOK, PRA..."
13,284622580/0300,2022-09-05,-30,CZK,137394.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10604322747,"Amount: 30 CZK 01.09.2022, Place: Operator ICT..."
14,284622580/0300,2022-09-05,-30,CZK,137424.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10604322751,"Amount: 30 CZK 01.09.2022, Place: Operator ICT..."
15,284622580/0300,2022-09-05,15000,CZK,137454.41,1.914236e+09,800.0,Korčáková Jitka,0,NaN,NaN,Incoming payment,10600547183,NaN
16,284622580/0300,2022-09-02,-15,CZK,122454.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10598961232,"Amount: 15 CZK 31.08.2022, Place: IKEA ZLICIN ..."
17,284622580/0300,2022-09-02,-30,CZK,122469.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10598961238,"Amount: 30 CZK 31.08.2022, Place: Operator ICT..."
18,284622580/0300,2022-09-02,-30,CZK,122499.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10598961239,"Amount: 30 CZK 31.08.2022, Place: Operator ICT..."
19,284622580/0300,2022-09-02,-30,CZK,122529.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10598961240,"Amount: 30 CZK 31.08.2022, Place: Operator ICT..."
20,284622580/0300,2022-09-02,-30,CZK,122559.41,NaN,NaN,NaN,1178,405000245.0,2.212104e+09,Debit card transaction,10598961241,"Amount: 30 CZK 31.08.2022, Place: Operator ICT..."
21,284622580/0300,2022-09-01,-165,CZK,122589.41,NaN,NaN,NaN,1178,405000243.0,2.212104e+09,Debit card transaction,10596132089,"Amount: 165 CZK 30.08.2022, Place: RESTAURACE ..."
22,284622580/0300,2022-09-01,-30,CZK,122754.41,NaN,NaN,NaN,1178,405000243.0,2.212104e+09,Debit card transaction,10596132091,"Amount: 30 CZK 30.08.2022, Place: Operator ICT..."
23,284622580/0300,2022-09-01,-30,CZK,122784.41,NaN,NaN,NaN,1178,405000243.0,2.212104e+09,Debit card transaction,10596132093,"Amount: 30 CZK 30.08.2022, Place: Operator ICT..."
24,284622580/0300,2022-09-01,-461,CZK,122814.41,NaN,NaN,NaN,1178,405000243.0,2.212104e+09,Debit card transaction,10596132097,"Amount: 461 CZK 30.08.2022, Place: DM DROGERIE..."

In [40]:
# připojení dataframů za sebe do jedné delší tabulky

df_csob_complete = pd.concat([df_csob,df_csob2], axis=0, ignore_index=True)
df_csob_complete

,account no.,date of posting,amount,currency,deposit,counter-account number,counter-account bank number,name of counter-account,constant symbol,variable symbol,specific symbol,marking the operation,Transaction ID,note
0,284622580/0300,2022-07-19 00:00:00,-791.150024,CZK,88782.78,NaN,NaN,NaN,1178.0,405000199.0,2.212104e+09,Debit card transaction,1.047940e+10,"Amount: 31,5 EUR 17.07.2022, Place: Zeppelin M..."
1,284622580/0300,2022-07-19 00:00:00,-45.0,CZK,89573.93,2.008200e+09,5500.0,NaN,NaN,NaN,NaN,Outgoing instant payment,1.047882e+10,Spotify
2,284622580/0300,2022-07-18 00:00:00,-475.929993,CZK,89618.93,NaN,NaN,NaN,1178.0,405000198.0,2.212104e+09,Debit card transaction,1.047682e+10,"Amount: 19 USD 15.07.2022, Place: PAYPAL *HOLA..."
3,284622580/0300,2022-07-18 00:00:00,-225.440002,CZK,90094.86,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,1.047653e+10,"Amount: 9 USD 15.07.2022, Place: AIRALO, SINGA..."
4,284622580/0300,2022-07-18 00:00:00,-2335.23999,CZK,90320.30,NaN,NaN,NaN,1178.0,405000197.0,2.212104e+09,Debit card transaction,1.047653e+10,"Amount: 92 CHF 14.07.2022, Place: Restaurant H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,284622580/0300,2022-09-02 00:00:00,-30,CZK,122559.41,NaN,NaN,NaN,1178.0,405000245.0,2.212104e+09,Debit card transaction,1.059896e+10,"Amount: 30 CZK 31.08.2022, Place: Operator ICT..."
100,284622580/0300,2022-09-01 00:00:00,-165,CZK,122589.41,NaN,NaN,NaN,1178.0,405000243.0,2.212104e+09,Debit card transaction,1.059613e+10,"Amount: 165 CZK 30.08.2022, Place: RESTAURACE ..."
101,284622580/0300,2022-09-01 00:00:00,-30,CZK,122754.41,NaN,NaN,NaN,1178.0,405000243.0,2.212104e+09,Debit card transaction,1.059613e+10,"Amount: 30 CZK 30.08.2022, Place: Operator ICT..."
102,284622580/0300,2022-09-01 00:00:00,-30,CZK,122784.41,NaN,NaN,NaN,1178.0,405000243.0,2.212104e+09,Debit card transaction,1.059613e+10,"Amount: 30 CZK 30.08.2022, Place: Operator ICT..."
103,284622580/0300,2022-09-01 00:00:00,-461,CZK,122814.41,NaN,NaN,NaN,1178.0,405000243.0,2.212104e+09,Debit card transaction,1.059613e+10,"Amount: 461 CZK 30.08.2022, Place: DM DROGERIE..."

In [41]:
# stejný výsledek pomocí metody merge vycházející z konvencí databázových systémů

df_csob_complete = df_csob.merge(df_csob2, how="outer")
df_csob_complete

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [ ]:
# spojování dataframů na ose x (ose 1) - přidávání sloupců pomocí metody join

new_df = pd.DataFrame({"Income/Expense":["Expense" if x else "Income" for x in df_csob2["amount"] < 0.0], "Custom code":[1 if x else 0 for x in df_csob2["deposit"] > 100000.0]},columns=["Income/Expense","Custom code"])
df_csob2.join(new_df)

: